[submodule "link/.oh-my-zsh"]
	path = link/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "link/.emacs.d"]
	path = link/.emacs.d
	url = https://github.com/pith/.emacs.d
[submodule "vendor/gibo"]
	path = vendor/gibo
	url = git@github.com:simonwhitaker/gibo.git
[submodule "vendor/z"]
	path = vendor/z
	url = git@github.com:rupa/z.git
[submodule "vendor/fonts"]
	path = vendor/fonts
	url = git@github.com:powerline/fonts.git
